{% extends 'main.html' %}

{% block compras %}
  <div style="margin: 25px">
        <div class="card mx-auto h-75" style="position: relative">
          <div class="card-body" style="position:absolute; text-align: center; align-items: center; top: 50%; left: 50%; -ms-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);">
            <h5 class="card-title">Compras</h5>
              <div style="position: absolute; text-align: left; left: -100px">
                  <h6>Ordens de compra:</h6>
                  <ul>
                      <li>Ordem 1</li>
                      <li>Ordem 2</li>
                      <li>Ordem 2</li>
                  </ul>
              </div>
          </div>
        </div>
    </div>
{% endblock %} 